<h3 class="section-header">
  Gratis 7 daagse e-mail cursus boekhouden en administratie
</h3>
<div class="well well-sm">
  <div class="textwidget">Schrijf je nu in en ontvang 7 dagen lang een duidelijke uitleg over jouw verplichtingen als bijberoeper of eigenaar van een eenmanszaak:

<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://fctr.us1.list-manage.com/subscribe/post?u=dfef2582094d2c4bfe9f2a0f0&amp;id=9a22c242fa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="">
	<input type="hidden" id="group_1" name="group[2341][1]" value="1">
	<div class="clear"><input type="submit" value="Inschrijven" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup--></div>
</div>

